$border-radius-base: 3px !default;
$border-radius-small: 2px !default;
$border-radius-large: 6px !default;
$border-radius-huge: 10px !default;
$border-radius-label: 12px !default;
$border-radius-extreme: 30px !default;

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: $border-radius-large;
  color: $gray-dark;
  background: $white;
  width: 100%;


  .card-title {
    margin-top: 0.625rem;

    &:last-child {
      margin-bottom: 0;
    }
  }


  .card-header {
    border-bottom: none;
    background: transparent;

    .title {
      color: $white;
    }

  }

  .card-header-primary .card-icon,
  .card-header-primary .card-text,
  .card-header-primary:not(.card-header-icon):not(.card-header-text),
  &.bg-primary,
  &.card-rotate.bg-primary .front,
  &.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, $purple-400, $purple-600);
  }

  .card-header-info .card-icon,
  .card-header-info .card-text,
  .card-header-info:not(.card-header-icon):not(.card-header-text),
  &.bg-info,
  &.card-rotate.bg-info .front,
  &.card-rotate.bg-info .back {
    background: linear-gradient(60deg, $blue-400, $blue-700);
  }

  .card-header-success .card-icon,
  .card-header-success .card-text,
  .card-header-success:not(.card-header-icon):not(.card-header-text),
  &.bg-success,
  &.card-rotate.bg-success .front,
  &.card-rotate.bg-success .back {
    background: linear-gradient(60deg, $green-400, $green-600);
  }

  .card-header-warning .card-icon,
  .card-header-warning .card-text,
  .card-header-warning:not(.card-header-icon):not(.card-header-text),
  &.bg-warning,
  &.card-rotate.bg-warning .front,
  &.card-rotate.bg-warning .back {
    background: linear-gradient(60deg, $orange-400, $orange-600);
  }

  .card-header-danger .card-icon,
  .card-header-danger .card-text,
  .card-header-danger:not(.card-header-icon):not(.card-header-text),
  &.bg-danger,
  &.card-rotate.bg-danger .front,
  &.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, $red-400, $red-600);
  }

  .card-header-rose .card-icon,
  .card-header-rose .card-text,
  .card-header-rose:not(.card-header-icon):not(.card-header-text),
  &.bg-rose,
  &.card-rotate.bg-rose .front,
  &.card-rotate.bg-rose .back {
    background: linear-gradient(60deg, $pink-400, $pink-600);
  }

  [class*="card-header-"],
  &[class*="bg-"] {
    color: $white;

    .card-title a,
    .card-title,
    .icon i {
      color: $white;
    }
  }



  &[class*="bg-"],
  &[class*="bg-"] .card-body {
    border-radius: $border-radius-large;

    h1,
    h2,
    h3 {
      small {
        color: $white;
      }
    }
  }

}

.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);


  .card-title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .card-body {
    padding: 0.9375rem 20px;
    position: relative;

  }




  [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;

    .card-title + .card-category {
      color: rgba(255, 255, 255, 0.62);

      a {
        color: $white;
      }
    }

    &:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
      border-radius: $border-radius-base;
      margin-top: -20px;
      padding: 15px;
    }

  }

}









