<div class="container">
  <div class="row d-flex">
    <div class="col-lg-12 ">
      <mat-list  [dir]="'dir' | translate" >
        <h3 class="text-center  font-weight-bold">تنظیمات</h3>
        <mat-list-item>
          <div class="container">
            <div class="d-flex row align-items-center ">

<div class="col-lg-6 col-md-12">
  <h4 class=" ">انتخاب تم صفحه</h4>

</div>
        <div class="col-lg-6 col-md-12">
          <div class="row">

            <div class="colorpicker">

            </div>
            <div class="colorpicker">

            </div>
            <div class="colorpicker">

            </div>
            <div class="colorpicker">

            </div></div>
        </div>
              </div>
          </div>

        </mat-list-item>
        <mat-divider ></mat-divider>
        <mat-list-item>

          <div class="container">
            <div class="row  d-flex align-items-center">
              <div class="col-lg-6 col-md-12">
                <h4 class="mb-2 mt-2  ">انتخاب زبان </h4>
              </div>
              <div class="col-lg-6 col-md-12">
                <pmt-change-language></pmt-change-language>
              </div>
            </div>
          </div>

        </mat-list-item>
        <mat-divider ></mat-divider>
        <mat-list-item>
          <div class="container">
            <div class="row mt-2 d-flex align-items-center">
              <div class="col-lg-6 col-md-12">
                <h4 class=" mb-2  ">حالت شب</h4>
              </div>
              <div class="col-lg-6 col-md-12">
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>

        </mat-list-item>
        <mat-divider></mat-divider>
        <h4 class=" mb-3 mt-3">  انتخاب پس زمینه ساید بار</h4>
        <!--<pmt-carousel></pmt-carousel>-->
        <div class="container my-4">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top mb-3 d-flex justify-content-around ">
              <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>

              <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner text-center" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-4">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>
                </div>

              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>
                </div>

              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class=" mb-2">
                      <img class="card-img-top imgSlide" src="assets/images/sidebar/07.jpg"
                           alt="Card image cap">

                    </div>
                  </div>
                </div>

              </div>
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->


        </div>

      </mat-list>
    </div>
  </div>

</div>
