<div [class]="'p-field p-input-filled ' + containerCssClass">
    <label style="display: inline-block" [for]="id" [pmtTranslate]="label"></label>
    <span *ngIf="isRequired" style="color: red"> * </span>:<br>

    <textarea [id]="id"
              pInputTextarea
              [class]="isInvalid() ? 'ng-invalid ng-dirty' : ''"
              [placeholder]="placeholder"
              [(ngModel)]="value">
    </textarea>


    <small *ngIf="isInvalid()"
           [id]="id + '-error'"
           class="p-error display-block"
           pmtTranslate="error.thisFieldIsRequired">This field is required</small>

</div>
