<div class="site-navbar-wrap">

  <div class="site-navbar-top">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-6 text-right">
          <div class="ml-auto">
            <a href="#" class="p-2 pl-0"><i style="color: whitesmoke" class="fa fa-twitter"></i></a>
            <a href="#" class="p-2 pl-0"><i style="color: whitesmoke" class="fa fa-facebook"></i></a>
            <a href="#" class="p-2 pl-0"><i style="color: whitesmoke" class="fa fa-linkedin"></i></a>
            <a href="#" class="p-2 pl-0"><i style="color: whitesmoke" class="fa fa-instagram"></i></a>
          </div>

        </div>
        <div class="col-6 text-left">
          <div class="d-flex mr-auto">
            <a href="#" class="d-flex align-items-center ">
              <span class="d-none d-md-inline-block pl-2">info@pmt.com</span>
              <i style="color: whitesmoke" class="fa fa-envelope"></i>
            </a>
            <a href="#" class="d-flex align-items-center mr-5">
              <span class="d-none d-md-inline-block pl-2">+2222222</span>
              <i style="color: whitesmoke" class="fa fa-phone"></i>
            </a>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="site-navbar site-navbar-target js-sticky-header">
    <div class="container ">
      <div class="row align-items-center">

        <div class="col-12 ">
          <div class="container">

            <nav class=" site-navigation navbar navbar-expand-lg ">
              <a class="navbar-brand my-0 site-logo" href="#">پایشگران</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color: whitesmoke" class="fa fa-bars"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav site-menu main-menu js-clone-nav mr-auto">
                  <li class="active"><a href="" class="nav-link">صفحه اصلی</a></li>
                  <li><a href="" class="nav-link">محصولات بیمه ای</a></li>
                  <li><a href="" class="nav-link">شبکه فروش </a></li>
                  <li><a href="" class="nav-link">خدمات بیمه ای</a></li>
                  <li><a href="" class="nav-link">مناقصه، مزایده و حراج
                  </a></li>
                  <li><a href="" class="nav-link">همکاری با ما</a></li>

                </ul>
              </div>
            </nav>


          </div>

        </div>
      </div>
    </div>

    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">کرونا در بیمه درمان خانواده ایران قرار گرفت</span>
        <span class="heading-primary-sub">شرکت بیمه ایران پوشش هزینه‌های مرتبط با ویروس کرونا را نیز به پوشش‌های بیمه نامه درمان مسافرتی خود اضافه کرد.</span>
      </h1>
      <a href="javascript:void()" id="btn-hover" class="btn btn-white btn-animated center-btn " routerLink="/panel">ورود
        به پنل</a>
    </div>
    <div class="card-section">
      <div class="container text-center">
        <div class="mockup mockup-macbook loaded opened">
          <div class="part top" [ngClass]="opening">
            <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-top.svg" alt="" class="top is-open">
            <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">

            <div [ngClass]="labtopInside">
              <div class="text-center d-flex justify-content-center  ">
                <img [ngClass]="laptopLogo" src="assets/images/pages/home-header/download.png">
                <div class="progress-bar" [ngClass]="progresBar">
                  <div class="loader">
                    <div class="outer"></div>
                    <div class="middle"></div>
                    <div class="inner"></div>
                    <div class="dot"></div>
                  </div>
                </div>
                <img [ngClass]="laptopScreen" src="assets/images/pages/home-header/homeScreen.png">

              </div>
            </div>

          </div>
          <div class="part bottom">
            <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">
            <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-bottom.svg" alt="" class="bottom">
          </div>
        </div>
      </div>
    </div>

    <div id="hero" class="hero"></div>

  </div>


  <div class="container insurance-body">
    <div class="row justify-content-around">
      <div class="insurance-info--box col-md-3">
        <div class="insurance-info"><i class="fa fa-group"></i>
          <p>بیمه خانواده</p>
        </div>
      </div>
      <div class="insurance-info--box col-md-3">
        <div class="insurance-info"><i class="fa fa-car"></i>
          <p>بیمه بدنه ماشین</p>
        </div>
      </div>
      <div class="insurance-info--box col-md-3">
        <div class="insurance-info"><i class="fa fa-home"></i>
          <p>بیمه منزل</p>
        </div>
      </div>
      <div class="insurance-info--box col-md-3">
        <div class="insurance-info"><i class="fa fa-plane"></i>
          <p>بیمه سفر</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 text-center">
    <h2>سایت تخصصی بیمه های زندگی</h2>
    <h4>بیمه عمر انفرادی - بیمه عمر گروهی - بیمه عمر مانده بدهکار بیمه عمر زمانی - بیمه عمر و پس انداز - بیمه کارکنان
      دولت(عمر گروهی) </h4>
  </div>
  <div class="container mt-5 mb-5">
    <hr>
  </div>
  <div id="benefit">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6 text-right">
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p>
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p>
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p></div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <hr>
  </div>
  <div id="benefit-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0"></div>

        <div class="col-sm-6 col-md-5 col-lg-6 text-right">
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p>
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p>
          <p>&nbsp;</p>
          <h3>مراکز درمانی طرف</h3>
          <p>بیمارستان ها و مراکز درمانی استان تهران
            بیمارستان ها و مراکز درمانی سایر استان ها
            مراکز درمانی طرح لبخند آفرین
          </p></div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <hr>
  </div>

</div>
