
:root {
  --pmt-toolbar-dark: #3c3c3c;
  --pmt-white: #ffffff;
  --pmt-default-input-color: #0b74bc;
  --pmt-default-border-gray-color: #a7a7a7;
  --pmt-default-box-shadow: #9c9c9c;
  --pmt-default-menu-box: #efefef;
  --pmt-default-green-btn: #0da25b;
  --pmt-default-hover-green-btn: #10893c;
  --pmt-default-input-gray: #a7a7a7;
  --pmt-default-background-input: #f6f6f6;
  --pmt-default-color-a-menu:#89898A ;
  --pmt-default-color-border-bottom: rgba(0, 0, 0, 0.1);
  --pmt-default-color-table: #f5f5f5;
}
