.login {
  max-height: 100vh;

  .login--box-image {
    width: 50%;
    height: 100vh;
    background-image: url("/assets/images/login/login-bgc.jpg");
    background-size: cover;

    .login--box-image__gradient {
      width: 100%;
      height: 100vh;
      background-image: linear-gradient(135deg, rgba(0, 255, 255, 0.35), rgba(0, 65, 101, 0.66));
    }
  }

  .login--box-form {
    width: 50%;
    height: 100vh;
    padding-top: 10%;
    background: #f5f5f5;


  }
}
