<div class="d-flex  login" [dir]="'dir' | translate">

  <div class="login--box-form col-lg-6 col-md-12 col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-12  ">
          <header class="text-center">
            <mat-icon class="">lock</mat-icon>
            <h1 class="text-bold"><span translate="global.login"></span></h1>
            <h4><span translate="pages.login.dont-have-an-account"></span>
              &nbsp;
              <a routerLink="/register"><span translate="global.signup"></span></a>
            </h4>
          </header>



          <div class="row mt-5">
            <div class="col-12">
              <form [formGroup]="loginForm" class="" [dir]="'dir' | translate">

                <div class="form-group">
                  <label for="exampleInputEmail1"><span translate="form.user-name"></span></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="userName" >
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"><span translate="form.password"></span></label>
                  <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                </div>

                <div class="form-check  mt-5">
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      &nbsp;
                      <label class="form-check-label mr-2 ml-2" for="exampleCheck1"><span translate="pages.login.remember-me"></span></label>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                      <a routerLink="/forgot-password"><span translate="pages.login.forgot-password"></span></a>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-5">
                  <button type="button" class="btn btn-primary full-width" (click)="doSubmitLoginForm()">
                    <span translate="global.login"></span>
                  </button>
                </div>


              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="login--box-image col-lg-6 col-md-12  col-sm-12">
    <div class="login--box-image__gradient"></div>
  </div>

</div>
