<div class="container-fluid backGround_profile">

</div>
<div class="container body_profile card shadow-sm  w-75">
  <div class="row">
    <div class="col-lg-4 col-md-12 ">
      <div class="mt-5">
        <div class="text-center">
          <img src="../../../assets/images/login/login-bgc.jpg" width="200" height="200" class="rounded-circle shadow "
            alt="">
        </div>
        <div class="mt-3">
          <ul class="row d-flex justify-content-center ">
            <li><a href="#" class="fa fa-facebook"></a> </li>
            <li><a href="#" class="fa fa-instagram "></a> </li>
            <li><a href="#" class="fa fa-google  "></a> </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="col-lg-8 col-md-12 ">

      <div class="header_Profile mt-5">
        <h3>بیمه ایران</h3>
        <h4>شماره بیمه <span>541546544</span></h4>
      </div>

      <div class="heade_button">
        <button class="btn btn-info" translate="global.edit"></button>
        <button class="btn btn-success" translate="global.show"></button>

      </div>

      <div class="mt-5">
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0" translate="form.userName"> </h5>
          </div>
          <div class="col-sm-9 text-secondary">
            پارلا نوروزی </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0" translate="form.email"></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            parla7498@gmail.com
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0" translate="form.phoneNumber"></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            021-222222 </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0" translate="form.mobileNumber"> </h5>
          </div>
          <div class="col-sm-9 text-secondary">
            0903-33333 </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h5 class="mb-0" translate="form.address"></h5>
          </div>
          <div class="col-sm-9 text-secondary">
            تهران-
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
