@import './src/assets/styles/breakpoints';
//@import '../shared/styles/default-layout';


::ng-deep .mat-drawer-transition .mat-drawer-content {
  transition-duration: .4s !important;
}



::ng-deep .main_sidebar {
  max-height: calc(60vh);

  .mat-expansion-panel-body {
    padding: 0;
  }

  .main_sidebar--main_menu {
    max-height: calc(100vh);
    background-image: url("/assets/images/sidebar/07-g.jpg");
    //filter: grayscale(100%);
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%) !important;
    //background-size: cover;
  }



  .mat-drawer-inner-container::-webkit-scrollbar {
    width: 2px;
    height: 15px;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-track-piece {
    background-color: #C2D2E4;
  }

  .mat-drawer-inner-container::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: rgba(56, 56, 56, 0.51);
  }


  .mat-drawer-inner-container {
    position: relative;
    //background-image: linear-gradient(135deg, rgba(47, 62, 160, 0.9), rgba(174, 52, 45, 0.9));
    overflow: hidden;
    .mat-expansion-panel {
      background: transparent;
    }
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    color: #fff;
    //box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 3px 1px -2px rgb(228 227 227 / 1%), 0px 2px 2px 0px rgb(255 255 255 / 2%), 0px 1px 5px 0px rgb(255 255 255 / 2%);

    .mat-expansion-panel-header-title {
      color: rgb(255 255 255 / 87%);
    }

    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {

      color: rgb(255 255 255 / 54%);

    }
  }

  /* .mat-drawer-inner-container:before {
     position: absolute;
     content: "";
     background-image: url("/content/images/sidebar/01.jpg");
     background-repeat: repeat-x;
     //background-image: url("/content/images/sidebar/01.jpg");
     opacity: 0.1;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
     overflow: auto;
     max-height: 100vh;
   }
   .mat-drawer-inner-container:after {
     position: absolute;
     content: "";
     background-image: linear-gradient(135deg,#2f3ea0,#ae342d);
     background-repeat: repeat-x;
     //background-image: url("/content/images/sidebar/01.jpg");
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
   }*/
  .mat-drawer-inner-container:hover {
    overflow: auto !important;
  }
}



.mat-sidenav {
  width: 360px;
}

.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}

.sidenav-toolbar {
  height: 64px;
  //background-color: mat-color($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 600px) {
    height: 56px;
  }
}

.mat-nav-list {
  padding-top: 0;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}

.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

.content {
  min-height: 100vh;
}

@include breakpoint-max(600px) {
  .fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
  }

}
